a {
    color: red;
  }
a, h1 {
    color: color: rgba(0, 0, 255, 0.363);
    font-weight: bold;
    font-size: 40px;
  }
a, h2 {
    color: rgba(35, 35, 207, 0.685);
    font-size: 25px;
}

a, h3 {
    color:black;
    font-size: 20px;

}

body {
    display: flex;
    flex-direction: column;
    
}

main {
    display: flex;
    flex-direction: row;
    flex:auto;
    background-color: rgb(234, 239, 248);
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto
}